<nz-table #userTable
          class="usersTable"
          [nzSize]="tableSize"
          [nzData]="users"
          [nzBordered]="false"
          [nzLoading]="loading"
          [nzFrontPagination]="true"
          [nzShowPagination]="true"
          [nzPageSize]="usersPerPage">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
            <th nzShowSort nzSortKey="id">Id</th>
            <th nzShowSort nzSortKey="name">Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>TODOs</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userTable.data; index as i"
            [attr.data-index]="i">
            <td #userTd
                class="partial-border"
                [attr.col-indicator]="getCurrentPageIndicator(user.id)">
                {{user.id}}
            </td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <button nz-button nzType="link" (click)="handleShowTodos(user)">Show</button>
            </td>
        </tr>
    </tbody>
</nz-table>