::ng-deep table-flip {
  display: flex;

  thead {
    display: flex;
    flex-direction: column;

    & > tr {
      flex: 1;
      & > th:last-child {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  tbody {
    flex: 1;
    display: flex;

    overflow-x: scroll;
  }

  tr {
    display: flex;
    flex-direction: column;

    td {
      white-space: nowrap;
    }
  }
}
