<nz-table #userTable
          [nzSize]="tableSize"
          [nzData]="users"
          [nzBordered]="true"
          [nzLoading]="loading"
          [nzFrontPagination]="true"
          [nzShowPagination]="true"
          [nzPageSize]="usersPerPage"
          (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
            <th nzShowSort nzSortKey="id">Id</th>
            <th nzShowSort nzSortKey="name">Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>TODOs</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userTable.data">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>
                <button nz-button nzType="default" (click)="handleShowTodos(user)">Show</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<!-- <nz-modal [(nzVisible)]="todosModalVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCloseTodos()">
    <ng-template #modalTitle>
        Unfinished TODOs
    </ng-template>

    <ng-template #modalContent>
        <ul nz-list
            [nzDataSource]="userTodosList"
            [nzRenderItem]="smallItem"
            nzSize="small">
            <ng-template #smallItem let-item>
                <li nz-list-item [nzContent]="item.title"></li>
            </ng-template>
        </ul>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCloseTodos()">Close</button>
    </ng-template>
</nz-modal> -->